/**
 * IMPORTS
 */

// PT Mono monospaced font from google
@import "https://fonts.googleapis.com/css?family=PT+Mono";

// Bootstrap variables
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss";

/**
 * "GLOBAL" VARIABLES
 */

$app-bg: #FFEEC6;
$app-font: 'PT Mono', monospace;

$purple-stripes: repeating-linear-gradient(
                  -45deg,
                  #8d81bc,
                  #8d81bc 10px,
                  #1B224B 10px,
                  #1B224B 20px
);
$stripe-inner-block: #1B224B;

// MEDIA QUERIES

/* Phones */
$phones: "(max-width: #{$screen-xs-max})";

/* Small devices (tablets, 768px and up) */
$tablets: "(min-width: #{$screen-sm-min})";
$tablets-only: "(min-width: #{$screen-sm-min}) and (max-width: #{$screen-sm-max})";

/* Medium devices (desktops, 992px and up) */
$desktops: "(min-width: #{$screen-md-min})";
$desktops-only: "(min-width: #{$screen-md-min}) and (max-width: #{$screen-md-max})";

/* Large devices (large desktops, 1200px and up) */
$large-desktops: "(min-width: #{$screen-lg-min})";

body {
  background: $app-bg;
  font-family: $app-font;
}

.row {
  margin-bottom: 20px;
}

/**
 * TOOLTIPS
 */

.tooltip .tooltip-inner {
  font-size: 1em;
  font-family: $app-font;
}

/**
 * TOP NAV
 */

#nav-top.navbar {
  margin-top: 20px;
  margin-bottom: 0;
  background: $app-bg;
  font-family: $app-font;
  text-transform: lowercase;
}

/**
 * IMAGE SELECT BUTTON
 */

h3.instructions {
  font-family: $app-font;
  margin: 20px 0 10px 0;
  text-transform: lowercase;
  text-align: center;

  i {
    margin-left: 20px;
    color: #000;
    cursor: pointer;
  }

  i:hover {
    transition: color 0.3s ease;
    color: lighten(#000, 40%);
  }
}

#image-select-wrap {
  // transition-property: width, height, margin, top, left, padding;
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease;

  // Center the image
  text-align: center;

}

#image-select {
  display: table;
  width: 100%;

  // Height for phones
  height: 200px;

  @media #{$tablets} {
    // Height for tablets
    height: 400px;
  }

  background: $purple-stripes;

  a#btnUpload {
    display: table-cell;
    position: relative;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;

    // Darken the upload box on hover
    background: none;
    transition: background-color 0.3s ease;

    div {
      color: white;
      background: $stripe-inner-block;
      text-transform: uppercase;
      margin: 0 auto;
      padding: 30px;

      // Width for phone screens
      width: 80%;
      font-size: 25px;

      @media #{$tablets} {
        // Width for tablets and larger
        width: 60%;
        font-size: 50px;
      }
    }

    div > input {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
    }
  }

  a#btnUpload:hover {
    background: rgba(0, 0, 0, 0.3);
  }
}

/**
 * IMAGE VIEWER
 */

.image-viewer {
  background: $purple-stripes;

  .viewer-inner-text {
    color: white;
    background: $stripe-inner-block;
    padding: 10px;
  }

  .title {
    text-align: center;
    color: white;

    span {
      @extend .viewer-inner-text;
      display: inline-block;
      margin-top: 10px;
    }
  }

  img.main-image {
    display: block;
    margin: 0 auto;

    padding: 10px;
  }

  label.select-new-image {
    @extend .viewer-inner-text;
    margin-bottom: 10px;
    cursor: pointer;

    > input {
      display: none;
    }
  }
}


/**
 * ALGORITHM LIST
 */

.selectable-white {
  cursor: pointer;
  background: #F5F5F5;
  transition: background-color 0.3s ease;
}

.selectable-white:hover {
  // Darken on hover
  background: darken(#F5F5F5, 30%);
}

/*
ul.algorithm-list {
  display: inline-block;
  padding: 0;
  text-align: justify;

  li {
    @extend .selectable-white;
    display: inline-block;

    padding: 5px;
    margin: 5px;
    border: 1px solid;
    border-radius: 2px;
  }
}
*/

ul.algorithm-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  padding: 0;

  li {
    @extend .selectable-white;
    display: inline-block;

    padding: 5px;
    margin: 3px 0;
    border: 1px solid;
    border-radius: 2px;
  }
}

// Wraps the scroll buttons, algos, and line
.editor-wrap {
  position: relative;
  width: 100%;
  padding: 0 5px;
  display: table;

  .middle-line {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0 5px;
    z-index: -1;

    display: flex;
    align-items: center;

    hr {
      border: 0;
      border-top: 1px solid black;
      flex-grow: 1;
    }
  }
}

$scroll-btn-font-size-multiplier: 3;
$scroll-btn-width: 0.65em;

// Wraps the scroll buttons and algos
.algorithm-controls-wrap {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;

  .btn-scroll-left,
  .btn-scroll-right {
    @extend .selectable-white;
    flex-grow: 0;
    border: 1px solid black;
    font-size: (1em * $scroll-btn-font-size-multiplier);
    width: $scroll-btn-width;
    padding: 0 5px;
  }
}

// Wraps the algos
.algorithms-wrap {
  flex-grow: 1;

  // So that flex-grow will work
  width: 0;

  // Hides the algos outside the viewing area
  overflow: hidden;
}

// The algo ul
.algorithms-wrap .algorithms {
  // So the scroll buttons can work
  position: relative;

  height: 100%;
  display: flex;

  margin: 0;
  padding: 0;

  // Individual algos
  li.algorithm {
    @extend .selectable-white;
    display: block;
    margin: 0 7px;
    padding: 5px;
    border: 1px solid black;
  }
}
